<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      .lead {
        padding: 10px 6px;
        margin-top: 10px;
        background-color: #f6f6f6;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <a href="{% url 'lead-list' %}">Back to leads</a>
    <hr>
    <h3>This is the detail of {{ lead.first_name }}</h3>
    <p>Age: {{ lead.age }}</p>
    <p>Agent responsible for the lead: {{ lead.agent }}</p>
    <hr>
    <a href="{% url 'lead-update' lead.pk %}">Update</a>
    <a href="{% url 'lead-delete' lead.pk %}">Delete</a>
  </body>
</html>
